<footer>
    <h2>Contact us:</h2>

    <div class="footer-container">
      <div style="color: blue" class="footer-item">
        <a href="https://facebook.com"> Facebook </a>
      </div>
      <div style="color: skyblue" class="footer-item">
        <a href="https://twitter.com"> Twitter </a>
      </div>
      <div style="color: purple" class="footer-item">
        <a href="https://instagram.com"> Instagram </a>
      </div>
      <div style="color: darkturquoise" class="footer-item">
        <a href="https://telegram.com"> Telegram </a>
      </div>
      <div style="color: red" class="footer-item">
        <a href="https://gmail.com"> Gmail </a>
      </div>
    </div>
  </footer>