<h2 class="title">About us-</h2>
<h6 class="about">
  <!-- Random Description -->
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Dignissim sodales ut eu sem.
  Feugiat sed lectus vestibulum mattis ullamcorper. Amet commodo nulla facilisi
  nullam. Velit egestas dui id o rnare. Hendrerit gravida rutrum quisque non.
  Cras pulvinar mattis nunc sed blandit libero. Massa ultricies mi quis
  hendrerit. Massa eget egestas purus viverra accumsan. Facilisis magna etiam
  tempor orci.
</h6>