<h1>___***Sample Store***___</h1>

<div *ngIf="home">

<app-about-us></app-about-us>

<h4 class="sub-heading">Our Products-</h4>

<article class="products" *ngFor="let items of item">
  <p class="product">{{ items.name }}</p>
  <div class="flex-container">
    <div class="flex-item">
      <img
        src="{{ items.img }}"
        alt="{{ items.alt }}"
        width="400"
        height="300"
      />
      <p class="price">Price=${{ items.price }}</p>
    </div>
    <div id="{{ items.id }}" class="description">
      <p>
        {{ items.description }}
      </p>

      <input
        type="checkbox"
        (click)="added($event, items)"
        id="{{ items.value }}"
        class="btn"
        value="${{ items.value }}"
      />

      <label for="{{ items.value }}" class="cart">{{ items.status }}</label>
    </div>
  </div>
</article>


<div style="text-align: center; align-items: center">
  <button  value="Submit" type="submit" (click)="go_to_cart()">View Cart</button>
</div>
</div>


<div *ngIf="cart_page">
<app-cart [cart]="getItems()"></app-cart>
</div>

<app-footer></app-footer>

